name: Semantic Release

on:
  push:
    branches:
      - main
      - develop

permissions:
  contents: write       # pour créer des tags et releases GitHub
  packages: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    # Ne s'exécute que sur un push vers main ou develop
    if: startsWith(github.ref, 'refs/heads/')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch tags
        run: git fetch --tags

      - name: Install UV
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Run semantic-release (GitHub only)
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uv run semantic-release publish --no-push

      - name: Push new tag (if version created)
        if: steps.release.outputs.version != ''
        run: git push --follow-tags

      - name: Publish Docker image (if new release)
        if: steps.release.outputs.released == 'true'
        run: uv run ./scripts/publish-ghcr.sh
